{% extends "mainsite/base.html" %}
{% load static %}

{% block content %}
<section class="pt-5 pb-5 bg-light">
    <div class="container">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
              <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" width="700" height="500">
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold lh-1 mb-3">Open source løsninger</h1>
              <p class="text">Med stor erfaring indenfor design, implementering, og drift af IT-løsninger baseret på open source teknologier, tilbyder Xperta jer de helt rigtigte kompetencer til at få jer i mål med jeres næste projekt.</p>
              <p class="text">Vi bygger robuste, simple, og effektive løsninger der giver jer mest værdi! IT-landskabet er i dag ofte bygget op af microservices i containere, som giver stor fleksibilitet, dog ofte på bekostning af simplitet. Vi har opbygget løsninger der gør det nemt for jeres orgasisation at være med helt fremme med "continuous delivery", og "continuous integration."</br> Alt dette i skyen, eller i jeres egne datacentre.</p>
              <p class="text">Glem alt om de store fimaers "best practice"</br> Vi bygger jeres "best practice"!</p>
            </div>
        </div>
    </div>
    <!-- Noget med air gapped-->
    <!-- Noget med CI/CD-->
    <!-- Noget med k8s-->
    <!-- Noget med DevOps/GitOps-->
</section>
{% endblock %}