<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <title>Xperta - Open Source solutions</title>

    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <!-- Plugins -->
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top scrolled">
        <div class="container-fluid">
            <a class="navbar-brand" href="/da/" title="Xperta" rel="home" style="outline: currentcolor none medium;">
                <img src="{% static 'img/logo-dark-small.svg' %}" alt="" title="Logo">
            </a>      
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                <nav>
                    <ul class="navbar-nav">
                        <li class="">
                            <a href="#services" title="Services">Services</a>
                        </li>
                        <li class="">
                            <a href="/hosting/" title="Hosting services">Hosting</a>
                            </li>
                        <li class="">
                        <a href="/da/artikler/" title="Se vores artikler">Artikler</a>
                        </li>
                        <li class="">
                        <a href="/da/om/" title="Se om os">Om</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="nav-btn-container d-flex justify-content-end">
                <a href="#contact" target="_self" title="" class="btn btn-primary btn-topnav"><span>Kontakt os</span></a>
            </div>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <div class="d-sm-flex align-items-center">
                    <span class="navbar-toggler-icon">
                        <span class="bar"></span>
                        <span class="bar middle"></span>
                        <span class="bar"></span>
                    </span>
                </div>
            </button>
        </div>
    </nav>

    <section class="pt-5 pb-3 mt-0 align-items-bottom d-flex bg-primary hero hero"
      style="min-height: 85vh; background-size: cover; background-image: url(https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
      <div class="container">
        <div
          class="row  justify-content-start align-items-center d-flex  h-100 ">
          <div class="col-12 col-md-6 h-50 ">
            <label>Værdiskabende IT-løsninger</label>
            <h1 class="display-4 text-light mb-2 mt-5 h1-head"><strong>Open source specialister</strong> </h1>
            <p class="lead  text-light mb-3">Vi er specialister i open source IT-løsninger, der dækker netop jeres forretningsbehov.</p>
            <div class="btn-container d-flex">
                <a class="btn btn-primary" href="#services" target="_self" title="Se vores services" style="outline: currentcolor none medium;">
                    <span>Se services
                        <svg xmlns="http://www.w3.org/2000/svg" width="25.5" height="12" viewBox="0 0 51 24">
                            <path class="fill-color" fill-rule="evenodd" fill="#ffffff" d="M2287.81,3788.99l-2.04,2.02,8.68,8.56h-45.46v2.86h45.46l-8.68,8.56,2.04,2.02L2300,3801Z" transform="translate(-2249 -3789)"></path>
                        </svg>
                    </span>
                </a>
                <a class="btn btn-white" href="#contact" target="_self" title="Kontakt os">
                    <span>Kontakt os<svg xmlns="http://www.w3.org/2000/svg" width="25.5" height="12" viewBox="0 0 51 24">
                            <path class="fill-color" fill-rule="evenodd" fill="#ffffff" d="M2287.81,3788.99l-2.04,2.02,8.68,8.56h-45.46v2.86h45.46l-8.68,8.56,2.04,2.02L2300,3801Z" transform="translate(-2249 -3789)"></path>
                        </svg>
                    </span>
                </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-5 pb-5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-md-4 offset-md-1  ">
            <h2>Vi er din IT-partner</h2>
            <p class="text-h3 mt-3">
                Xperta er en virksomhed med et team af dedikerede medarbejdere, der arbejder døgnet rundt for at levere skræddersyede løsninger til vores kunder.
            </p>
            <p class="text-h3 mt-3">
                Vi er open source-specialister, der tror på at levere kreative løsninger, der skaber værdi for vores kunder.
            </p>
          </div>
          <div class="col-12 col-md-6   mt-4 mt-md-0">
            <img alt="image" class="img-fluid"
              src=" https://dummyimage.com/650x450/5fa9f8/fff">
          </div>
        </div>
      </div>
    </section>
    <section class="pt-5 pb-5 bg-light" id="services">
      <div class="container">
        <div class="row mb-md-4">
          <div class="col-12 col-lg-8 text-center text-lg-start">
            <h3 class="text-primary small">Mere end bare service!</h3>
            <h2 class=" ">Vi levere det meste</h2>
            <p class="lead">
                Hos Xperta har vi et indgående kendskab til open source-teknologistakken. <br/>
                Vi har implementeret en lang række infrastruktur løsninger for vores kunder, såsom: reverse-proxyer, kubernetes clusters, lokale CA løsninger, monitorering, osv. <br/>
                Vores team har arbejdet med adskillige kunder i forskellige brancher for at udvikle skræddersyede open source-løsninger, der dækker netop deres specifikke behov.
            </p>
          </div>
        </div>
        <div class="row d-flex mb-5">
          <div class="col-10 mx-auto col-md-4">
            <div class="my-3 card card-body shadow p-4 ">
              <div
                class="row align-items-center d-flex text-md-center text-lg-start">
                <div class="col-12 col-sm-3 col-md-3 text-center px-0">
                  <div class="icon-wrap text-primary my-3">
                    <i
                      class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-lock fa-lg"></i>
                  </div>
                </div>
                <div class="col-12 col-md-9 mt-3 mt-lg-0">
                  <h4 class="">
                    Sikkerhed først!
                  </h4>
                  <p class=" mb-0">
                    Hos Xperta er vi pasionerede om sikkerhed, og vil derfor gerne hjælpe med at holde dine data sikre! Både hos jer selv, eller i vores hostedede løsninger.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 mx-auto col-md-4">
            <div class="my-3 card card-body shadow p-4">
              <div class="row align-items-center text-md-center text-lg-start">
                <div class="col-12 col-sm-3 col-md-3 text-center px-0">
                  <div class="icon-wrap text-primary my-3">
                    <i
                      class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-tint fa-lg"></i>
                    
                  </div>
                </div>
                <div class="col-12 col-md-9 mt-3 mt-lg-0">
                  <h4 class="">
                    IT-konsulent ydelser
                  </h4>
                  <p class="  mb-0">
                    Jeres forretningsbehov er vores top prioritet, og vi viger ikke tilbage for at tage risici eller prøve noget nyt, for at levere en mere innovativ og omkostningseffektivt løsning.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 mx-auto col-md-4">
            <div class="my-3 card card-body shadow p-4">
              <div class="row align-items-center text-md-center text-lg-start">
                <div class="col-12 col-sm-3 col-md-3 text-center px-0">
                  <div class="icon-wrap text-primary my-3">
                    <i
                      class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-mobile fa-lg"></i>
                  </div>
                </div>
                <div class="col-12 col-md-9 mt-3 mt-lg-0">
                  <h4 class="">
                    Hosting
                  </h4>
                  <p class="  sm-font-size text-dark-gray mb-0">
                    Voeres medarbejdere er sepcialister i at hoste open source løsninger, og vi hjælper også gerne jer så i slippe for besværet, og kan fokusere på forretningen.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-5 pb-5" style="background-image: url()">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-2 col-md-1 mt-4 mt-md-0  me-auto me-md-0">
            <img alt="image" class="img-fluid rounded-circle mb-3 mb-md-1"
              src="{% static 'img/teis_round_80x80.png' %}">
          </div>
          <div class="col-12 col-md-7">
            <p class="text-h3 quote">
              "Det er vigtigere end nogensinde at lave værdiskabende, og transparente IT-løsninger.
              Dette gøres bedst ved brug af open source software, som er auditeret, og sikkert for kunden"
            </p>
            <p class="text-h3 mt-2"><strong>Teis Angel Clausen</strong>&nbsp;
              &nbsp;&nbsp;<em>Stifter</em></p>
          </div>

        </div>
      </div>
    </section>
    <section class="pb-5 pt-5 bg-dark text-light" id="contact" style="">
      <div class="container">
        <div class="row text-center justify-content-center">
          <div class="col-12 col-md-8 col-lg-7">
            <h3 class="fw-bold display-4 text-white">Kontakt os</h3>
            <h4 class="display-5 text-white">Vi glæder os til at høre fra dig</h4>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-12">
            <form>
              <div class="row">
                <div class="col-12 col-md">
                  <input type="text" class="form-control" placeholder="Navn">
                </div>
                <div class="col-12 col-md mt-4 mt-md-0">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col-12 col-md mt-4 mt-md-0">
                  <input type="text" class="form-control"
                    placeholder="Telefon nummer (valgfrit)">
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <input type="email" class="form-control"
                    placeholder="Emne">
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <textarea class="form-control" name="message" rows="3"
                    placeholder="Hvad kan vi hjælpe med?"
                    style="margin-top: 0px; margin-bottom: 0px; height: 124px;"></textarea>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col text-center">
                  <button type="submit"
                    class="btn btn-primary btn-lg btn-contact">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-5 pb-5 bg-dark text-white">
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center text-md-start">
              <p>Copyright © Xperta 2021. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end mb-4">
              <a href="#" class="m-2">
                <i class="fab fa-twitter fa-lg text-white"
                  aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </footer>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-popRpmFF9JQgExhfw5tZT4I9/CI5e2QcuUZPOVXb1m7qUmeR2b50u+YFEYe1wgzy"
      crossorigin="anonymous"></script>


  </body>

</html>