<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <title>Xperta - Open Source IT-løsninger, hosting, konsulent, msp</title>
    <meta name="description" content="Vi levere værdiskabende it-løsninger, med kundes behov i fokus, og med en stor passion for open source software. Vi hjælper dig, med den helt rigtige løsning, ikke bare endnu en RedHat licens! Vi er bosat i Køge, men levere it-løsninger til hele landet. Xperta er din næste Linux konsulent">
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/xperta_favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <!-- Plausible stats -->
    <script defer data-domain="xperta.dk" src="https://stats.xperta.dk/js/plausible.hash.outbound-links.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" title="Xperta" rel="home" style="outline: currentcolor none medium;">
                <img src="{% static 'img/xperta_text_logo.svg' %}" alt="Xperta logo" title="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mx-auto justify-content-center" id="navbarNavDropdown">
                <nav>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/services" title="Services">Vi tilbyder</a>
                        </li>
                        <!-- <li class="">
                            <a href="/hosting/" title="Hosting services">Hosting</a>
                            </li>
                        <li class="">
                        <a href="/da/artikler/" title="Se vores artikler">Artikler</a>
                        </li> -->
                        <li class="nav-item">
                          <a class="nav-link" href="/about" title="Om os">Om</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="collapse d-flex d-none d-lg-block justify-content-end">
            <p class="mb-0 me-3 navbar-phone">Tel: +45 26 36 27 62</p>
            </div>
            <div class="collapse nav-btn-container d-flex d-none d-lg-block justify-content-end">
                <a href="/#contact" target="_self" title="" class="btn btn-primary btn-topnav"><span>Kontakt os</span></a>
            </div>
        </div>
    </nav>
    {% if messages %}
      {% for message in messages %}
        {% if message.tags %}
        {% endif %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}{% endif %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
      {% endfor %}
    {% endif %}
    
    {% block content %}
    {% endblock content %}
    <section class="pt-5 pb-5 bg-dark text-white">
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 text-center text-md-start">
              <p>Copyright ©{% now 'Y' %} Xperta. All rights reserved.</p>
            </div>
            <div class="col-md text-center text-md mb-6">
              <p>Email: kontakt@xperta.dk</p>
            </div>
            <div class="col-md text-center text-md mb-6">
              <p>Telefon: +45 26 37 27 62</p>
            </div>
            <div class="col-md text-center text-md-end mb-6">
              <a href="https://www.linkedin.com/company/xperta-it/" class="m-2 text-none"><i class="fab fa-linkedin fa-lg text-white" aria-hidden="true"></i></a>
              <a href="https://www.facebook.com/xpertadk" class="m-2"><i class="fab fa-facebook fa-lg text-white" aria-hidden="true"></i></a>
              <a href="https://twitter.com/xpertait" class="m-2"><i class="fab fa-twitter fa-lg text-white" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </footer>
    </section>
    <script
    <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
