{% extends "mainsite/base.html" %}
{% load static %}

{% block content %}
<section class="pt-5 pb-3 mt-0 align-items-bottom d-flex bg-primary hero hero"
style="min-height: 65vh; background-size: cover; background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity)); background: url(https://images.unsplash.com/photo-1526666923127-b2970f64b422?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80) no-repeat bottom center !important;">
<div class="container">
  <div
    class="row justify-content-start align-items-center d-flex h-100 ">
    <div class="col-12 col-md-6">
      <label>Værdiskabende IT-løsninger</label>
      <h1 class="display-4 mb-2 mt-5 h1-head hero"><strong>Open source, </br>IT-løsninger der skaber værdi for jer!</strong> </h1>
      <p class="lead mb-3 hero hero-sub">Vi får jer i mål med gode IT-løsninger, der dækker netop jeres forretningsbehov.</p>
      <div class="d-grid gap-2 d-sm-flex ">
          <a class="btn btn-primary" href="#services" target="_self" title="Se vores services" style="outline: currentcolor none medium;">
              <span>Se services
                  <svg xmlns="http://www.w3.org/2000/svg" width="25.5" height="12" viewBox="0 0 51 24">
                      <path class="fill-color" fill-rule="evenodd" fill="#ffffff" d="M2287.81,3788.99l-2.04,2.02,8.68,8.56h-45.46v2.86h45.46l-8.68,8.56,2.04,2.02L2300,3801Z" transform="translate(-2249 -3789)"></path>
                  </svg>
              </span>
          </a>
          <a class="btn btn-white" href="#contact" target="_self" title="Kontakt os">
              <span>Kontakt os<svg xmlns="http://www.w3.org/2000/svg" width="25.5" height="12" viewBox="0 0 51 24">
                      <path class="fill-color" fill-rule="evenodd" fill="#ffffff" d="M2287.81,3788.99l-2.04,2.02,8.68,8.56h-45.46v2.86h45.46l-8.68,8.56,2.04,2.02L2300,3801Z" transform="translate(-2249 -3789)"></path>
                  </svg>
              </span>
          </a>
      </div>
    </div>
  </div>
</div>
</section>
<section class="pt-5 pb-5">
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-4 offset-md-1">
      <h3 class="text-primary small">IT-løsninger med passion</h3>
      <h2>Vi er din IT-partner</h2>
      <p class="text-h3 mt-3">
          Hos Xperta arbejder vi dedikeret for at levere skræddersyede løsninger til vores kunder.
      </p>
      <p class="text-h3 mt-3">
          Vi er open source-specialister, der har lavet løsninger på et væld af Unix platforme.
          Disse er altid skræddersyet til den individuelle kunde, så der bliver skab mest værdi.
      </p>
      <p class="text-h3 mt-3">
        For os er open source løsninger essensen af hvem vi er, men vi ved at ikke alle behov kan dækkes af dette.
        Derfor har vi nøje udvalgte leverandøre af løsninger de steder hvor det giver mere værdi.
    </p>
    </div>
    <div class="col-12 col-md-6   mt-4 mt-md-0">
      <img alt="image" class="img-fluid"
        src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
    </div>
  </div>
</div>
</section>
<section class="pt-5 pb-5 bg-light" id="services">
<div class="container">
  <div class="row mb-md-4">
    <div class="col-12 col-lg-8 text-center text-lg-start">
      <h3 class="text-primary small">Mere end bare service!</h3>
      <h2 class=" ">Vi levere det meste</h2>
      <p class="lead">
          Hos Xperta har vi et indgående kendskab til open source-teknologistakken. <br/>
          Vi har implementeret en lang række infrastruktur løsninger for vores kunder, såsom: reverse-proxyer, kubernetes clusters, lokale CA løsninger, monitorering, osv. <br/>
          Vores team har stor erfaring fra forskellige brancher med at udvikle skræddersyede it-løsninger, til alt fra små virksomheder, til store koncerner.
      </p>
    </div>
  </div>
  <div class="row d-flex mb-5">
    <div class="col-10 mx-auto col-md-4">
      <div class="my-3 card card-body shadow p-4 h-100">
        <div class="row align-items-center d-flex text-md-center text-lg-start">
          <div class="col-12 col-sm-3 col-md-3 text-center px-0">
            <div class="icon-wrap text-primary my-3">
              <i
                class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-lock fa-lg"></i>
            </div>
          </div>
          <div class="col-12 col-md-9 mt-3 mt-lg-0">
            <h4 class="">
              Sikkerhed først!
            </h4>
            <p class=" mb-0">
              Hos Xperta er vi pasionerede omkring sikkerhed, og vil derfor gerne hjælpe med at holde dine data sikre! Både hos jer selv, eller i vores hostedede løsninger.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 mx-auto col-md-4">
      <div class="my-3 card card-body shadow p-4 h-100">
        <div class="row align-items-center text-md-center text-lg-start">
          <div class="col-12 col-sm-3 col-md-3 text-center px-0">
            <div class="icon-wrap text-primary my-3">
              <i
                class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-mobile fa-lg"></i>
            </div>
          </div>
          <div class="col-12 col-md-9 mt-3 mt-lg-0">
            <h4 class="">
              Hosting / MSP
            </h4>
            <p class="  sm-font-size text-dark-gray mb-0">
              Voeres medarbejdere er sepcialister i at hoste it-løsninger for kunder. Vi hjælper også gerne jer så i slippe for besværet, og kan fokusere på forretningen.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 mx-auto col-md-4">
      <div class="my-3 card card-body shadow p-4 h-100">
        <div class="row align-items-center text-md-center text-lg-start">
          <div class="col-12 col-sm-3 col-md-3 text-center px-0">
            <div class="icon-wrap text-primary my-3">
              <i
                class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-tint fa-lg"></i>
            </div>
          </div>
          <div class="col-12 col-md-9 mt-3 mt-lg-0">
            <h4 class="">
              IT-konsulent ydelser
            </h4>
            <p class="  mb-0">
              Jeres forretningsbehov er vores top prioritet, og vi viger ikke tilbage for at tage risici eller prøve noget nyt, for at levere en mere innovativ og omkostningseffektivt løsning.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="pt-5 pb-5" style="background-image: url()">
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-2 col-md-1 mt-4 mt-md-0  me-auto me-md-0">
      <img alt="image" class="img-fluid rounded-circle mb-3 mb-md-1"
        src="{% static 'img/teis_round_80x80.png' %}">
    </div>
    <div class="col-12 col-md-7">
      <p class="text-h3 quote">
        "Det er vigtigere end nogensinde at lave værdiskabende, og simple IT-løsninger.</br>
        Jeg startede Xperta, for at hjælpe virksomheder med at få de gode løsninger, og ikke bare købe endnu en Red Hat, eller Oracle licens"
      </p>
      <p class="text-h3 mt-2"><strong>Teis Angel Clausen</strong>&nbsp;
        &nbsp;&nbsp;<em>Stifter</em></p>
    </div>
  </div>
</div>
</section>
{% include "mainsite/contact.html" %}
{% endblock content %}